dist/
lib_managed/
project/boot/
project/plugins/project/
target/

syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

.settings
.classpath
.project
.manager
.scala_dependencies

.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output

.svn
.CVS
.hg*

*.log
.DS_Store

